@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>It is a simple MVC App to Upload and Display a CSV file, with the ability to download it as XLSX file. </a>.</p>
</div>
